#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_EmpireCoin
#build/EmpireCoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_EmpireCoin)

DEB_INSTALL_EXAMPLES_EmpireCoind += debian/examples/*
DEB_INSTALL_MANPAGES_EmpireCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix EmpireCoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f EmpireCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake empirecoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_EmpireCoin
	src/test_EmpireCoin

# Ensure wrapper is set executable
binary-post-install/EmpireCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/EmpireCoind
binary-post-install/EmpireCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/EmpireCoin-qt
